.main-section{
    background: url('/src/Components/img/commodore_1.jpg') center center/cover no-repeat;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #2323;
    object-fit: contain;
}

.title{
    margin-bottom: -10%;
}

.title > h1{
    color: #ffffff;
    font-size: 32px;
    background-color: rgba(204, 139, 139, 0.2);
    border-radius: 10px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-section > h1 {
    color: #ffffff;
    font-size: 32px;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .main-section > p {
    margin-top: 8px;
    color: #fff;
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .main-btn{
    margin-top: 25%;
    
  }
  
  .main-btn .btn {
    margin: 6px;
    
  }

  .btn{
      
  }